<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
  <title>Ultimate Decision Maker - {% block title %}{% endblock title %}</title>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="title">Ultimate Decision Maker{% block h1 %} {% endblock h1 %}</h1>
      {% include "nav.html" %}
  </header>

  {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

  <main class="container">
    {% block content %}
      <h2>No Content</h2>
    {% endblock content%}
  </main>

  <footer></footer>
  {% block scripts %}
  {% endblock scripts %}
  </div>
</body>
</html>
