<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ultimate Decision Maker - {% block title %}{% endblock title %}</title>
  {% include "head.html" %}
</head>

<body>
  <header>
    <div class="container">
      <h1 class="title">Ultimate Decision Maker{% block h1 %} {% endblock h1 %}</h1>
      {% include "nav.html" %}
    </div>
    <h3>Welcome to the Ultimate Decision Maker. Find you daily destiny here! </h3>
  </header>
  <main class="container">
    {% block content %}
      <h2>No Content</h2>
    {% endblock content%}
  </main>

  <footer></footer>
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
