{% extends 'base.html' %}

{% block content %}
<div>
  <h2>Let's make some decisions!</h2>
  <p>Not sure what to order for dinner? Trying to choose between similar brands?
  Use our decision-making engine to decide for you! Simply input your choices below
  and hit the button, and we'll do the hard work for you.</p>
</div>

<div class="input">
  <h3>How many things are you considering?</h3>
  <form action="{{url_for('home')}}" method="POST">
    <input type="text" name="number" />
    {{form.csrf_token}}
    <input type="submit" value="This many">
    </form>
  </div>

{% if number %}
<div class="input">
  <h3>What are you trying to decide between?</h3>
  <form action="{{url_for('home')}}" method="POST">
    {% for num in range(number) %}
    <input type="text" name={{'choice' ~ num}} />
    {% endfor %}
    {{ form.csrf_token }}
    <input type="submit" value="Decide for Me">
  </form>
</div>
{% endif %}


{% if decision %}
<div class="decision">
  <h3>DECISION MADE:</h3>
  <p> {{ decision }} it is! </p>
</div>
{% endif %}

{% endblock content%}
