{% extends 'base.html' %}

{% block content %}
<div>
  <h2>Let's make some decisions!</h2>
  <p>Not sure what to order for dinner? Trying to choose between similar brands?
  Use our decision-making engine to decide for you! Simply input your choices below
  and hit the button, and we'll do the hard work for you.</p>
</div>

<div class="input">
  <h3>What are you trying to decide between?</h3>
  <form action="{{url_for('home')}}" method="POST">
    <input type="text" name="choice1" />
    <input type="text" name="choice2" />
    {{ form.csrf_token }}
    <input type="submit" value="Decide for Me">
  </form>
</div>

{% if decision %}
<div class="decision">
  <h3>DECISION MADE:</h3>
  <p> {{ decision }} it is! </p>
</div>
{% endif %}

<!--new try for dynamic templates-->

<div class="element-wrapper">
  <div class="row">
    <input type="text" placeholder="Your Choice" />
    <button class="btn-remove-row">
      Remove row
    </button>
  </div>
</div>

<button class="btn-add-row">
  Add new row
</button>
<!-- just to display all potential errors -->
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

</form>

{% endblock content%}

{% block scripts %}
<!--new try for dynamic scripts-->

{% endblock scripts %}
