<nav class="main_nav">
  <ul>
  {% block nav_bar %}
    <li><a href="{{ url_for('.home')}}" class="active">Home</a></li>
    {% if g.user %}
      <li><a href="{{ url_for('.vision')}}">Vision (beta)</a></li>
      <li><a href="{{ url_for('.logout')}}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('.register')}}">Register</a></li>
      <li><a href="{{ url_for('.login') }}">Login</a></li>
    {% endif %}
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <!--
    <script type=text/javascript src="{{url_for('static', filename='js/page.js') }}"></script>
    -->
  {% endblock nav_bar %}
  </ul>
  <div><span class="sexy_line"></span></div>
</nav>
