{% extends "base.html" %}

{% block content %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <div class='register'>
    <h3>Register to view your history choices, see activities from friends, and more crazy features!</h3>
    <form action="/register" method="POST">
      {{ form.csrf_token }}
      {{ form.email.label }} {{form.email }}
      {{ form.password.label }} {{form.password}}
      <input type="submit" value="Register">
    </form>
  </div>
{% endblock content %}
